@import './mixins.scss';

.wrapper {
  @include section-wrapper;
}

.container {
  @include section-container;
}

.heading {
  @include section-header;
}

.blogsList {
  @include photo-list;
}

.blog {
  @include photo-list-item;

  &:nth-child(1),
  &:nth-child(2) {
    width: calc(50% - 5px);
    height: 300px;

    @include tablet {
      height: 200px;
      width: 100%;
    }

  }

  &:after {
    content: "";
    background: rgba(0, 0, 0, 0.60);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.blogLink {
  @include photo-list-item-link;
}

.blogInfo {
  position: absolute;
  color: $white;
  padding: 20px;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.title {
  @include text-shadow;
  font-size: 22px;
  font-weight: 500;
  line-height: 1.2;
}

.calendarIcon {
  margin-right: 5px;
  font-size: 14px;
}

.date {
  @include text-shadow;
  font-size: 14px;
}

.inner {
  @include photo-list-transition;
}

.imageWrapper {
  height: 100%;
}