@import './mixins.scss';

.wrapper {
  // puts footer at bottom if blog is short
  min-height: calc(100vh - 109px);
  margin-top: 43px;
  padding-top: 20px;
  padding-bottom: 0;

  @include tablet {
    padding-top: 20px;
  }
}