@import './mixins.scss';

.wrapper {
  @include section-wrapper-alternate;
}

.container {
  @include section-container;
}

.skillList {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;

  @media only screen and (max-width:767px) {
    flex-direction: column;
  }

}

.heading {
  @include section-header;
}

.card {
  @include card-shadow-hover;

  width: 30%;

  @media only screen and (max-width:767px) {
    width: 100%;
    margin: 5px 0;
  }
}

.cardTitle {
  font-size: 22px;
  font-weight: 500;
  position: relative;
}

.cardDescription {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  margin-bottom: 0;
}
