@import './mixins.scss';

.social,
.socialAbout {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;

  li {
    margin: 0 10px;
  }

  a {
    text-decoration: none;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $white;
    color: $white;
    position: relative;
    overflow: hidden;

    &:before {
      z-index: 1;
    }

    &:after {
      content: "";
      background: $orange;
      position: absolute;
      top: -100%;
      left: 0;
      -webkit-transition: all .3s;
      transition: all .3s;
      height: 100%;
      width: 100%;
    }

    &:hover:after {
      top: 0;
    }
  }
}

.socialAbout {
  justify-content: flex-start;

  li {
    margin-left: 0;
  }

  a {
    color: $medGray;
    transition: all .4s;
    border: 2px solid $medGray;

  
    &:hover {
      color: $white;
    }
  
    &:after {
      background: $medGray;
    }
  }
} 

.hidden {
  display: none;
}